#flyoutMenu {
  width: 45vw;
  height: 100vh;
  background-color: #f0eee7;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: 1000;
  box-shadow: -10px 0px 50px rgba(0,0,0,0.2);
  -webkit-transition: 0.5s ease-in-out; 
  -moz-transition: 0.5s ease-in-out; 
  -o-transition: 0.5s ease-in-out; 
  transition: 0.5s ease-in-out; 
  margin: 0; 
  padding: 0; 
  -webkit-text-size-adjust: none; 
}

#flyoutMenu.hide {
  transform: translate3d(+100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

/* Slider close icon */
.slider-close-icon {
  margin: 5px;
  padding: 1px;
  border-radius: 50px;
  padding: 5px;
}

.slider-close-icon:hover{ 
  color: white;
  background-color: rgb(48, 61, 51);
  border-radius: 50px;
  cursor: pointer;
}
