.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
}

.navbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar__burger {
    width: 20%;
    margin-left: 15px;
}

.navbar__burger ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: left;
}

.navbar__logo {
    width: 100px;
    
}

.navbar__logo__container {
    width: 60%;
    align-items: center;
}

.navbar__links {
    width: 20%;
    align-items: right;
    margin-right: 15px;
}

.navbar__links a {
    color: rgb(54, 54, 54);
}

.navbar__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

.navbar__links li {
    margin: 0 0.5rem;
}

.spacer {
    flex: 1;
}

