.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(39, 88, 47);
}

.navbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar__logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.navbar__links a {
    color: white;
}

.navbar__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__links li {
    margin: 0 0.5rem;
}

.spacer {
    flex: 1;
}

