.App {
  text-align: center;
  margin-top: 70px;
}

.App-intro {
  align-items: center;
}

.outer-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.shipping-form {
}

.shipping-form > input {
  display: block;
  font-size: 120%;
  margin: 0 auto;
}

.bold-underline {
  text-decoration: underline;
  font-weight: bold;
}

/* Adds raised 3D effect to div */
.raisedbox {
  margin: 3% 10%;
  border: 1px solid #d6dbd6;
  box-shadow: -1px 1px #d6dbd6, -2px 2px #d6dbd6, -3px 3px #d6dbd6,
    -4px 4px #d6dbd6, -5px 5px #d6dbd6;
}

.raisedbox > input {
  display: block;
  font-size: 120%;
  margin: 0 auto;
}

.radioButtonFormControl > * {
  color: white !important;
}

.radioButtonFormControl > * > * > * {
  color: white !important;
}
