#leftSliderMenu {
  width: 60vw;
  max-width: 300px;
  height: 100vh;
  background-image: linear-gradient(-90deg, #182A0F, rgb(43, 66, 31));
  color: white;
  border-radius: 0px 5px 5px 0px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out; 
  -moz-transition: 0.2s ease-out; 
  -o-transition: 0.2s ease-out; 
  transition: 0.2s ease-out; 
  margin: 0; 
  padding: 0; 
  -webkit-text-size-adjust: none; 
  overflow: scroll;
  z-index: 200;
  box-shadow: 10px 0px 50px rgba(0,0,0,0.2);
  opacity: 0.92;
  text-align: left !important;
}

#leftSliderMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#leftSliderMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#leftSliderMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#leftSliderMenu h2 a:hover {
  text-decoration: underline;
}

.leftSlider__filter-section {
  padding: 20px;
}

.leftSlider__filter-section-category {
  margin-bottom: 50px;
}