.App {
  text-align: center;
  margin-top: 70px;
}

.App-intro {
  align-items: center;
}

.outer-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.shipping-form {
}

.shipping-form > input {
  display: block;
  font-size: 120%;
  margin: 0 auto;
}

.bold-underline {
  text-decoration: underline;
  font-weight: bold;
}

/* Adds raised 3D effect to div */
.raisedbox {
  margin: 3% 10%;
  border: 1px solid #b1d8b4;
  box-shadow: -1px 1px #b1d8b4, -2px 2px #b1d8b4, -3px 3px #b1d8b4,
    -4px 4px #b1d8b4, -5px 5px #b1d8b4;
}

.raisedbox > input {
  display: block;
  font-size: 120%;
  margin: 0 auto;
}
