.App {
  text-align: center;
  margin-top: 70px;
}

.Product {
  border-style: solid;
  border-width: 2px;
  margin: 5%;
}

#shoppingCart {
  border-style: solid;
  border-width: 2px;
  margin: 5%;
}
