.Product {
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;

}

.Product:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ProductName {
  font-size: 120%;
  font-weight: bold;
}

.productlist__container {
  margin: auto;
}
