#shippingForm > label{
    display: block;
}

.submit-button {
    margin: 20px 0px 20px 0px;
    padding: 10px 30px 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: green;
    border-radius: 25px;
    color: white;
  }

  .address-input {
    border: 0px;
    border-radius: 20px;
    height: 25px;
    width: 40%;
    margin: 20px;
    padding-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .title {
    margin: 70px;
  }