#profileMenu {
  width: 70vw;
  max-width: 400px;
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(-90deg, rgb(43, 66, 31), #182A0F);
  color: white;
  border-radius: 5px 0px 0px 5px;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  opacity: 0.92;
}

#profileMenu.hide {
  transform: translate3d(+100vw, 0, 0);
}

#profileMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#profileMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#profileMenu h2 a:hover {
  text-decoration: underline;
}

#profileMenu input {
  border: 0px;
  border-radius: 20px;
  height: 25px;
  margin: 5px;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#profileMenu input:focus{
  outline-width: 0;
}

#profileMenu label {
  font-size: 12px;
}

.account-section__header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 30px;
  letter-spacing: 5px;
  
}

.login-section__header{
  margin: 50px 0px 20px 0px;
}

.signup-section__header{
  margin: 50px 0px 20px 0px;
}

.submit-button {
  margin: 20px 0px 20px 0px;
  padding: 10px 30px 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: transparent;
  border-radius: 25px;
  color: white;

}

.submit-button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

/* Slider close icon */
.slider-close-icon {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 1px;
  border-radius: 50px;
  padding: 5px;
}

.slider-close-icon:hover{ 
  color: white;
  background-color: rgb(48, 61, 51);
  border-radius: 50px;
  cursor: pointer;
}
